@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1547085672986');
  /* IE9 */
  src: url('iconfont.eot?t=1547085672986#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJ8AAsAAAAABkwAAAIxAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgo4UwE2AiQDDAsIAAQgBYRtBzMblgURBczJPhLjWMFjTiSNxE08/P9+3/a59z4Z0zaTxhGNpposeSVByCxCJVNFI4nomfx9++l6yG9UhOqSPd96lu94aXc++WGdx0iERimEREh8nsvpTaADmd/OznHsaNFY4/lRL8A4oED3wCiyIgqAG6aXPBBXjwl0m7RYbNm254hWEa4KxJ2b1y9qOzlFYc1WqCcOFvFSpU3P0ye8KL4f/6yMlqTKwo0Hrm29YsPPsZ+n87POM2cyQp4Aj1fIWIxCnJusnZAF47Juryx314qQrip2OhSaDdUf/eMlohYO9oI5WE/8HEsUgp+nj0ggg7rbqNGH2NGLQuT8sP/q8YFrq19tee/13nzLEhcX4M/kXWkr5CNps0Dwbsnr5vzAmv9tTwHfz7y7UYSL7aH2BfHAQ/SNI8WaYSQXrSVaEMqsQgIOdaMjTA37cdz4tYZTrbEDicZEg6w1RRZ2MSo9VqPWWo9ui2w/3mPEXVmUrgsLXgBh0AdJv7fIBn3Jwv5QGfdHbTAyuh2LkQt7zMRNt1lRGzpqnjS2snEcM1cO79Ffl1rbZsGfoWEsUhan/WaFDXrFlnDrczMmVlmpBM9hWYS8yoTW4sHMF0nCU2+KW1kjZzMFNQMd0ngio5bYcDbZuMHn96B3tajpQqBRn4EKxtlJJpZuICtv2xT4lVeCm17OGEaYEitSgnmwWAjip+dNoGViw4GKV0iicbzVi58Prf47Bd3CG3KkyFGUK3Lfdg98FAEA') format('woff2'),
    url('iconfont.woff?t=1547085672986') format('woff'),
    url('iconfont.ttf?t=1547085672986') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1547085672986#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.v-icon-down:before {
  content: "\e615";
}

.v-icon-up:before {
  content: "\e65b";
}